:root {
  --bg-color: #F3EFEC;
  --text-color: #312A4E;
  --accent-color: #FFAB6B;
  --main-font: Raleway, sans-serif;
  --accent-font: 'STIX Two Text', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure,
body {
  margin: 0;
}

.page {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-inline-size: 360px;
  width: 100%;
  height: 100%;
  font-family: var(--main-font, Raleway, sans-serif);
  background-color: var(--bg-color, #F3EFEC);
  color: var(--text-color, #312A4E);
}

.header {
  padding-top: 10vw;
}

.heading {
  color: var(--text-color, #312A4E);
  font-family: var(--accent-font, 'STIX Two Text', sans-serif);
  line-height: 90%;
  font-weight: 600;
  font-style: normal;
  text-align: center;
}

.header__title {
  font-size: clamp(3.75rem, 2.5rem + 5.5556vw, 7.5rem);
  margin-bottom: 40px;
}

.header__logo {
  color: currentColor;
}

.header__logo-and-theme-picker {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  padding-left: 5vi;
  padding-right: 5vi;
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__theme-toggler {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header__theme-button {
  z-index: 1;
  position: relative;
  cursor: pointer;
  padding: 0;
  border: none;
  width: 100%;
  background-color: transparent;
  color: currentColor;
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header__theme-button:hover {
  text-decoration: underline;
}

.header__theme-button:focus,
a:focus {
  outline: none;
  outline-style: none;
}

.header__theme-button:focus-within,
a:focus-within {
  outline: none;
  outline-style: none;
  border-radius: 0;
  outline: 1px solid currentColor;
}

.header__theme-button:disabled {
  pointer-events: none;
}

.header__theme-button_is-active {
  font-weight: 700;
}

.header__theme-button_is-active::after {
  z-index: -1;
  bottom: 14%;
  right: -5px;
  display: block;
  position: absolute;
  content: "";
  width: calc(100% + 9px);
  height: 0.3em;
  background-color: var(--accent-color, #FFAB6B);
}

.content-section {
  padding: 0 5vi;
}

.content__title {
  font-size: 30px;
  margin-top: 6vi;
  margin-bottom: 2.6vw;
}

.content__text-block {
  color: currentColor;
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2em;
}

.content__text-block .content__paragraph {
  margin-bottom: 1.9em;
}

.content__figure + .content__text-block {
  line-height: 1.13em;
}

.content__paragraph > a {
  color: inherit;
  text-decoration-line: underline;
}

.content__blockquote {
  margin: auto;
  color: currentColor;
  font-family: inherit;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 200%;
  width: 75%;
  margin-top: 2em;
  margin-bottom: 1.15em;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  padding-inline-start: 15px;
}

.content__list-item {
  align-items: center;
  display: flex;
}

.content__list-item::before {
  margin-right: 10px;
  flex: 0 0 15px;
  content: "";
  height: 15px;
  width: 15px;
  background-image: url(../images/marker-light.svg);
  background-position: center;
  background-size: cover;
}

.content__text-block_type_first-lettered > .content__paragraph:first-of-type::first-letter {
  display: inline-block;
  padding-left: 4px;
  padding-right: 4px;
  margin-right: 4px;
  font-size: 30px;
  background-color: var(--accent-color, #FFAB6B);
  font-weight: 700;
}

.content__figure {
  margin-top: 6.6vi;
  margin-bottom: 5.9vi;
  display: block;
  width: 100%;
}

.content__picture {
  display: block;
  margin-left: -5vi;
  width: calc(100% + 5vi);
}

.content__picture > img {
  width: calc(100% + 5vi);
}

.content__picture-caption {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: currentColor;
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: calc(100% + 10vi);
  margin-left: -5vi;
  border-bottom: 1px solid currentColor;
}

.content__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid currentColor;
  margin-top: 5.8vw;
  width: 100%;
  height: 100%;
  aspect-ratio: 4/3;
}

.content__card-title {
  text-align: center;
  font-size: clamp(3.75rem, 3.75rem + 0vw, 3.75rem);
  font-style: normal;
  font-weight: 600;
  line-height: 90%;
  padding-left: 14vw;
  padding-right: 14vw;
}

.content__card-subtitle {
  text-align: center;
  color: currentColor;
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.colored-text {
  z-index: 1;
  position: relative;
}

.colored-text::after {
  z-index: -1;
  bottom: 14%;
  right: -5px;
  display: block;
  position: absolute;
  content: "";
  width: calc(100% + 9px);
  height: 0.3em;
  background-color: var(--accent-color, #FFAB6B);
}

.footer {
  flex-shrink: 0;
  border-top: 1px solid currentColor;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vw;
  padding: 2.5vw;
  width: 100%;
}

.footer__copyright {
  color: currentColor;
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.content__title-last {
  margin-bottom: 2.18vi;
}

.content__paragraph-last {
  margin-bottom: -0.5vi;
}

/* Настройки темной темы */

.theme_dark {
  --bg-color: #171717;
  --text-color: #b3b3b3;
  --accent-color: transparent;
}

.theme_dark .header__theme-button_is-active::after {
  background-image: url("../images/pattern.svg");
}

.theme_dark
.content__text-block_type_first-lettered > .content__paragraph:first-of-type::first-letter {
  border: 1px solid currentColor;
}

.theme_dark .colored-text::after {
  background-image: url("../images/pattern.svg");
}

.theme_dark .content__list-item::before {
  background-image: url("../images/marker-dark.svg");
}
